<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="m.fb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <m.fb.Properties.Settings>
            <setting name="txtTukhoa" serializeAs="String">
                <value />
            </setting>
            <setting name="Tukhoa" serializeAs="String">
                <value />
            </setting>
            <setting name="Number" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Soluong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtTukhoabaiviet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tukhoabaiviet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtSoluongbaiviet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Soluogbaiviet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtComent" serializeAs="String">
                <value />
            </setting>
            <setting name="Coment" serializeAs="String">
                <value />
            </setting>
            <setting name="tukhoabanbe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tukhoabb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sobbtt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtbb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dangbai" serializeAs="String">
                <value />
            </setting>
            <setting name="txtdangbaibanbe" serializeAs="String">
                <value />
            </setting>
            <setting name="cmt" serializeAs="String">
                <value />
            </setting>
            <setting name="txtcmt" serializeAs="String">
                <value />
            </setting>
            <setting name="sobaicmt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="soluongcmt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtsobaituongtac" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sobaituongtac" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtComment" serializeAs="String">
                <value />
            </setting>
            <setting name="Comment" serializeAs="String">
                <value />
            </setting>
            <setting name="sobaituongtacnewfeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtsobaituongtacnewfeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Commentnewfeed" serializeAs="String">
                <value />
            </setting>
            <setting name="txtCommentnewfeed" serializeAs="String">
                <value />
            </setting>
            <setting name="Idbaiviet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtIdbaiviet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Idnhom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtIdnhom" serializeAs="String">
                <value>0</value>
            </setting>
        </m.fb.Properties.Settings>
    </userSettings>
</configuration>